/* Hide scrollbar for chrome, opera, ff */
body::-webkit-scrollbar, 
#root::-webkit-scrollbar, 
html::-webkit-scrollbar,
.page::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body, html, #root, .page {
  -ms-overflow-style: none;
}

#root {
  background: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  background: white;
  margin: auto;
  height: 100vh;
  width: 100%;
  max-width: 2000px;
}

.welcome {
 
  .section {
    height: 700px;
    width: 90%;
    margin: 50px auto;
    padding: 50px;
    border-radius: 20px;
  }
  
  .section:nth-child(n){
    background: rgb(62, 83, 202);
  }
  
  .section:nth-child(2n){
    background: rgb(243, 243, 243);
  }
  
  .footer {
    background: rgb(56, 56, 56);
    height: 400px;
    margin-top: 100px;
    padding: 30px;
    color: lightgray
  }
  
  .footer .row {
    padding: 0px 30px;
  }
  
  .footer .col:not(:first-child) { 
    border-right: 1px solid black;
    text-align: right;
  }
}

.signup {
  h1 {
    padding: 15% 50px 50px 50px;
    text-align: center;
  }
  .btn {
    display: block;
    margin: 30px auto auto auto;
  }
}

.login {
  h1 { 	
    padding: 15% 50px 50px 50px;	
    text-align: center;	
  }
  
.login-form {	
    display: flex;	
    justify-content: center;	
    align-items: center;	
    flex-direction: column;
  }
}

.logout {
  .goodbye {
    height: 100vh;
    text-align: center;
    margin: 400px auto auto auto;
  }
}